<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Um agendamento foi realizado para a data {{data}}</p>
  <p>Verifique maiores informações na plataforma.</p>

  <p>
    Bom atendimento!<br>
    <strong>Equipe GoBarber</strong>
  </p>
</div>
